{% extends "base.html" %}

{% block title %}
    home page
{% endblock title %}

{% block content %}
    <table>
        <tr>
            <th style="padding:0 15px 0 15px">User</th>

            <th style="padding:0 15px 0 15px">Weekly Goals</th>

            <th style="padding:0 15px 0 15px">Daily Goals</th>

            <th style="padding:0 15px 0 15px">Verify Goals</th>

            <th style="padding:0 15px 0 15px">Done Goals</th>
        </tr>

        <tr>
            <td style="padding:0 15px 0 15px">{{ user.username }}</td>

            <td style="padding:0 15px 0 15px">
                {% for goal in all_weeklygoal %}
                    {% if goal.user.username == user.username %}
                        {{ goal.goal_name }} - {{ goal.goal_id }} <br>
                    {% endif %}
                {% endfor %}
            </td>

            <td style="padding:0 15px 0 15px">
                {% for goal in all_dailygoal %}
                    {% if goal.user.username == user.username %}
                        {{ goal.goal_name }} - {{ goal.goal_id }} <br>
                    {% endif %}
                {% endfor %}
            </td>

            <td style="padding:0 15px 0 15px">
                {% for goal in all_verifygoal %}
                    {% if goal.user.username == user.username %}
                        {{ goal.goal_name }} - {{ goal.goal_id }} <br>
                    {% endif %}
                {% endfor %}
            </td>

            <td style="padding:0 15px 0 15px">
                {% for goal in all_donegoal %}
                    {% if goal.user.username == user.username %}
                        {{ goal.goal_name }} - {{ goal.goal_id }} <br>
                    {% endif %}
                {% endfor %}
            </td>

        </tr>
    </table>
{% endblock content %}