<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            base page
        {% endblock title %}
    </title>
</head>

<body>
{#<p>you belong to me</p>#}
    {% block content %}

    {% endblock content %}
</body>
</html>