{% extends "base.html" %}

{% block title %}
    login page
{% endblock title %}

{% block content %}
{#    <a href="{% url 'index' %}"> Index_view </a>#}

    <h2>Log In</h2>

    {% if form.errors %}
        <p>
            <em>
                invalid login credentials
            </em>
        </p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

{#        {{ form.as_p }}#}
{##}
{#         <button type="submit">Log In</button>#}

        <label>
            <input name="username" placeholder="enter your username"
                   style="margin-bottom: 8px"
            >
        </label> <br>

        <label>
            <input name="password" placeholder="enter your password"
                   style="margin-bottom: 8px"
            >
        </label> <br>

        <button type="submit">Log In</button>
    </form>
{% endblock content %}